svg.svelte-1gl6241 {
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
}
.banner.svelte-3u4jd4 {
  padding: 6rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8rem;
  background: var(--primary-gradient);
}
.banner__title.svelte-3u4jd4 {
  color: var(--light);
  margin: 0;
}
@media (max-width: 600px) {
  .banner.svelte-3u4jd4 {
    padding: var(--spacing-3) var(--spacing-1);
  }
}
@media (max-width: 360px) {
  .banner.svelte-3u4jd4 {
    padding: var(--spacing-3) var(--spacing-0);
  }
}
.is-invisible.svelte-lh65v4.svelte-lh65v4 {
  visibility: hidden;
}
.grid-wrapper.svelte-lh65v4.svelte-lh65v4 {
  display: grid;
}
.grid-wrapper__item.svelte-lh65v4.svelte-lh65v4 {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.form-status__msg.svelte-lh65v4.svelte-lh65v4 {
  text-align: center;
  font-weight: 700;
  font-size: 130%;
  color: var(--primary);
  margin: 2rem 0 4rem;
}
.form-status__img.svelte-lh65v4.svelte-lh65v4 {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  max-height: 25vh;
}
.form.svelte-lh65v4.svelte-lh65v4 {
  margin-top: 2rem;
}
.form__group.svelte-lh65v4.svelte-lh65v4 {
  position: relative;
  margin: var(--spacing-2) 0;
}
.form__field.svelte-lh65v4.svelte-lh65v4 {
  background: 0 0;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--primary-light);
  display: block;
  width: 100%;
  padding: var(--spacing-0);
}
.form__label.svelte-lh65v4.svelte-lh65v4 {
  display: block;
  font-weight: lighter;
  color: #666;
  position: absolute;
  top: 0;
  opacity: 0;
}
.form__field.with-min-height.svelte-lh65v4.svelte-lh65v4 {
  min-height: 10rem;
}
.form__action-btn.svelte-lh65v4.svelte-lh65v4 {
  background: var(--secondary);
  border: none;
  padding: var(--spacing-0) var(--spacing-1);
  color: var(--light);
  border-radius: 5px;
  box-shadow: 0 4px 3px 0 rgba(50, 50, 50, 0.2);
  opacity: 0.9;
  display: inline-block;
}
.container.svelte-f8p5rh {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 1rem;
}
.container.narrow.svelte-f8p5rh {
  width: 100%;
  max-width: 800px;
}
@media (min-width: 90em) {
  .container.svelte-f8p5rh {
    max-width: 1600px;
  }
  .container.narrow.svelte-f8p5rh {
    max-width: 960px;
  }
}
footer.svelte-sgs6ia.svelte-sgs6ia {
  background: var(--light);
  padding: 2rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.svelte-sgs6ia a.svelte-sgs6ia {
  color: var(--dark);
}
@media (max-width: 630px) {
  footer.svelte-sgs6ia.svelte-sgs6ia {
    padding: 1rem 0;
  }
}
footer.svelte-sgs6ia ul.svelte-sgs6ia {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
footer.svelte-sgs6ia ul a.svelte-sgs6ia {
  margin: 0 var(--spacing-1);
  font-weight: 700;
  font-size: var(--font-size-2);
}
footer.svelte-sgs6ia .icon.svelte-sgs6ia {
  width: 1em;
  height: 1em;
  color: inherit;
  display: inline-block;
}
footer.svelte-sgs6ia .icon.svelte-sgs6ia > svg {
  fill: currentColor;
}
header.svelte-1klt7q {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img.svelte-1loppi8 {
  margin: 0.2rem;
  max-width: 100%;
  height: auto;
  padding: var(--spacing-0);
}
@media (max-width: 40em) {
  header.svelte-1klt7q {
    flex-direction: column;
  }
  img.svelte-1loppi8 {
    padding: 0;
  }
}
ul.svelte-1ufdbvx {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
a.svelte-1ufdbvx {
  color: var(--dark);
  display: inline-block;
  padding: 0.3em 2em;
  min-width: 5rem;
}
.spinner.svelte-1f144g4.svelte-1f144g4 {
  position: relative;
}
.spinner.svelte-1f144g4 .container.svelte-1f144g4 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url(/_elderjs/assets/svelte-68bb378e.css);
  -webkit-animation: 2s ease-in-out infinite svelte-1f144g4-rotate-move;
  animation: 2s ease-in-out infinite svelte-1f144g4-rotate-move;
}
.spinner.svelte-1f144g4 .dot.svelte-1f144g4 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.spinner.svelte-1f144g4 .dot-3.svelte-1f144g4 {
  background-color: #f74d75;
  -webkit-animation: 2s infinite svelte-1f144g4-dot-3-move, 6s infinite svelte-1f144g4-index;
  animation: 2s infinite svelte-1f144g4-dot-3-move, 6s infinite svelte-1f144g4-index;
}
.spinner.svelte-1f144g4 .dot-2.svelte-1f144g4 {
  background-color: #10beae;
  -webkit-animation: 2s infinite svelte-1f144g4-dot-2-move, 6s -4s infinite svelte-1f144g4-index;
  animation: 2s infinite svelte-1f144g4-dot-2-move, 6s -4s infinite svelte-1f144g4-index;
}
.spinner.svelte-1f144g4 .dot-1.svelte-1f144g4 {
  background-color: #ffe386;
  -webkit-animation: 2s infinite svelte-1f144g4-dot-1-move, 6s -2s infinite svelte-1f144g4-index;
  animation: 2s infinite svelte-1f144g4-dot-1-move, 6s -2s infinite svelte-1f144g4-index;
}
@-webkit-keyframes svelte-1f144g4-dot-3-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translateY(-18px) scale(0.45);
  }
  60%,
  80% {
    transform: translateY(-90px) scale(0.45);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes svelte-1f144g4-dot-3-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translateY(-18px) scale(0.45);
  }
  60%,
  80% {
    transform: translateY(-90px) scale(0.45);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@-webkit-keyframes svelte-1f144g4-dot-2-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(-16px, 12px) scale(0.45);
  }
  60%,
  80% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes svelte-1f144g4-dot-2-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(-16px, 12px) scale(0.45);
  }
  60%,
  80% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@-webkit-keyframes svelte-1f144g4-dot-1-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(16px, 12px) scale(0.45);
  }
  60%,
  80% {
    transform: translate(80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes svelte-1f144g4-dot-1-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(16px, 12px) scale(0.45);
  }
  60%,
  80% {
    transform: translate(80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@-webkit-keyframes svelte-1f144g4-rotate-move {
  55% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100%,
  80% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes svelte-1f144g4-rotate-move {
  55% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100%,
  80% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes svelte-1f144g4-index {
  0%,
  100% {
    z-index: 3;
  }
  33.3% {
    z-index: 2;
  }
  66.6% {
    z-index: 1;
  }
}
@keyframes svelte-1f144g4-index {
  0%,
  100% {
    z-index: 3;
  }
  33.3% {
    z-index: 2;
  }
  66.6% {
    z-index: 1;
  }
}
