svg.svelte-1gl6241 {
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
}
.banner.svelte-3u4jd4 {
  padding: 6rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8rem;
  background: var(--primary-gradient);
}
.banner__title.svelte-3u4jd4 {
  color: var(--light);
  margin: 0;
}
@media (max-width: 600px) {
  .banner.svelte-3u4jd4 {
    padding: var(--spacing-3) var(--spacing-1);
  }
}
@media (max-width: 360px) {
  .banner.svelte-3u4jd4 {
    padding: var(--spacing-3) var(--spacing-0);
  }
}
.is-invisible.svelte-lh65v4.svelte-lh65v4 {
  visibility: hidden;
}
.grid-wrapper.svelte-lh65v4.svelte-lh65v4 {
  display: grid;
}
.grid-wrapper__item.svelte-lh65v4.svelte-lh65v4 {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.form-status__msg.svelte-lh65v4.svelte-lh65v4 {
  text-align: center;
  font-weight: 700;
  font-size: 130%;
  color: var(--primary);
  margin: 2rem 0 4rem;
}
.form-status__img.svelte-lh65v4.svelte-lh65v4 {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  max-height: 25vh;
}
.form.svelte-lh65v4.svelte-lh65v4 {
  margin-top: 2rem;
}
.form__group.svelte-lh65v4.svelte-lh65v4 {
  position: relative;
  margin: var(--spacing-2) 0;
}
.form__field.svelte-lh65v4.svelte-lh65v4 {
  background: 0 0;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--primary-light);
  display: block;
  width: 100%;
  padding: var(--spacing-0);
}
.form__label.svelte-lh65v4.svelte-lh65v4 {
  display: block;
  font-weight: lighter;
  color: #666;
  position: absolute;
  top: 0;
  opacity: 0;
}
.form__field.with-min-height.svelte-lh65v4.svelte-lh65v4 {
  min-height: 10rem;
}
.form__action-btn.svelte-lh65v4.svelte-lh65v4 {
  background: var(--secondary);
  border: none;
  padding: var(--spacing-0) var(--spacing-1);
  color: var(--light);
  border-radius: 5px;
  box-shadow: 0 4px 3px 0 rgba(50, 50, 50, 0.2);
  opacity: 0.9;
  display: inline-block;
}
.container.svelte-f8p5rh {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 1rem;
}
.container.narrow.svelte-f8p5rh {
  width: 100%;
  max-width: 800px;
}
@media (min-width: 90em) {
  .container.svelte-f8p5rh {
    max-width: 1600px;
  }
  .container.narrow.svelte-f8p5rh {
    max-width: 960px;
  }
}
footer.svelte-sgs6ia.svelte-sgs6ia {
  background: var(--light);
  padding: 2rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.svelte-sgs6ia a.svelte-sgs6ia {
  color: var(--dark);
}
@media (max-width: 630px) {
  footer.svelte-sgs6ia.svelte-sgs6ia {
    padding: 1rem 0;
  }
}
footer.svelte-sgs6ia ul.svelte-sgs6ia {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
footer.svelte-sgs6ia ul a.svelte-sgs6ia {
  margin: 0 var(--spacing-1);
  font-weight: 700;
  font-size: var(--font-size-2);
}
footer.svelte-sgs6ia .icon.svelte-sgs6ia {
  width: 1em;
  height: 1em;
  color: inherit;
  display: inline-block;
}
footer.svelte-sgs6ia .icon.svelte-sgs6ia > svg {
  fill: currentColor;
}
header.svelte-1klt7q {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img.svelte-1loppi8 {
  margin: 0.2rem;
  max-width: 100%;
  height: auto;
  padding: var(--spacing-0);
}
@media (max-width: 40em) {
  header.svelte-1klt7q {
    flex-direction: column;
  }
  img.svelte-1loppi8 {
    padding: 0;
  }
}
ul.svelte-1ufdbvx {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
a.svelte-1ufdbvx {
  color: var(--dark);
  display: inline-block;
  padding: 0.3em 2em;
  min-width: 5rem;
}
